backend/n8n/workflows/workflow-b-process-suggestions.json
{
  "name": "Workflow B: Process Suggestions",
  "nodes": [
    {
      "parameters": {},
      "id": "b1000001-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "influencer_suggestions",
        "returnAll": true
      },
      "id": "b1000001-0002-4000-8000-000000000002",
      "name": "Supabase - Get Suggestions",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        250,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "SUPABASE_CREDENTIAL_ID",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "b1000001-0003-4000-8000-000000000003",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-profile-scraper/run-sync-get-dataset-items",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "YOUR_APIFY_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ \"usernames\": [$json.instagram_username] }) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "b1000001-0004-4000-8000-000000000004",
      "name": "HTTP Request - Apify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst response = items[0].json;\n\n// Apify responds with an array even for a single profile\nconst profile = Array.isArray(response) ? response[0] : response;\n\nif (!profile || !profile.id) {\n  return [{ json: { _skip: true } }];\n}\n\nreturn [{\n  json: {\n    influencer: {\n      id: String(profile.id),\n      username: profile.username || '',\n      full_name: profile.fullName || '',\n      biography: profile.biography || '',\n      profile_pic_url: profile.profilePicUrlHD || profile.profilePicUrl || '',\n      followers_count: profile.followersCount || 0,\n      external_url: profile.externalUrl || '',\n      external_url_title: (profile.externalUrls && profile.externalUrls[0]) ? profile.externalUrls[0].title : '',\n      last_synced_at: new Date().toISOString(),\n      updated_at: new Date().toISOString()\n    },\n    latestPosts: profile.latestPosts || [],\n    influencer_id: String(profile.id)\n  }\n}];"
      },
      "id": "b1000001-0005-4000-8000-000000000005",
      "name": "Profile Mapper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO influencers (id, username, full_name, biography, profile_pic_url, followers_count, external_url, external_url_title, last_synced_at, updated_at)\nVALUES (\n  '{{ $json.influencer.id }}',\n  '{{ $json.influencer.username }}',\n  '{{ ($json.influencer.full_name || \"\").replace(/'/g, \"''\") }}',\n  '{{ ($json.influencer.biography || \"\").replace(/'/g, \"''\") }}',\n  '{{ $json.influencer.profile_pic_url }}',\n  {{ $json.influencer.followers_count }},\n  '{{ $json.influencer.external_url }}',\n  '{{ ($json.influencer.external_url_title || \"\").replace(/'/g, \"''\") }}',\n  '{{ $json.influencer.last_synced_at }}',\n  '{{ $json.influencer.updated_at }}'\n)\nON CONFLICT (id) DO UPDATE SET\n  username = EXCLUDED.username,\n  full_name = EXCLUDED.full_name,\n  biography = EXCLUDED.biography,\n  profile_pic_url = EXCLUDED.profile_pic_url,\n  followers_count = EXCLUDED.followers_count,\n  external_url = EXCLUDED.external_url,\n  external_url_title = EXCLUDED.external_url_title,\n  last_synced_at = EXCLUDED.last_synced_at,\n  updated_at = EXCLUDED.updated_at;",
        "options": {}
      },
      "id": "b1000001-0006-4000-8000-000000000006",
      "name": "Postgres - Influencers Upsert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Profile Mapper 노드의 출력을 직접 참조 (Postgres Upsert는 원본 데이터를 전달하지 않음)\nconst data = $('Profile Mapper').first().json;\nconst posts = data.latestPosts || [];\nconst influencerId = data.influencer_id;\n\n// 공구 판별 키워드\nconst STRONG_KEYWORDS = ['공구', '공동구매', '공구오픈', '공구마감', '공구기간', '공구가', '공구링크'];\nconst COMBO_KEYWORDS = ['오픈', 'open', '마감', '구매', '링크', '프로필', '배송', '선착순', '한정', '할인', '혜택', '이벤트'];\n\nfunction isGroupBuying(post) {\n  const caption = (post.caption || '').toLowerCase();\n  const hashtags = (post.hashtags || []).join(' ').toLowerCase();\n  const text = caption + ' ' + hashtags;\n\n  for (const kw of STRONG_KEYWORDS) {\n    if (text.includes(kw)) return true;\n  }\n\n  let comboCount = 0;\n  for (const kw of COMBO_KEYWORDS) {\n    if (text.includes(kw.toLowerCase())) comboCount++;\n    if (comboCount >= 2) return true;\n  }\n  return false;\n}\n\n// SQL 이스케이프 헬퍼\nfunction esc(val) {\n  if (val === null || val === undefined) return null;\n  return String(val).replace(/'/g, \"''\");\n}\n\n// PostgreSQL 배열 리터럴 변환\nfunction toPgArray(arr) {\n  if (!arr || arr.length === 0) return '{}';\n  return '{' + arr.map(v => '\"' + String(v).replace(/\"/g, '\\\"') + '\"').join(',') + '}';\n}\n\nconst groupBuyingPosts = [];\nfor (const post of posts) {\n  if (!isGroupBuying(post)) continue;\n\n  groupBuyingPosts.push({\n    id: String(post.id),\n    influencer_id: influencerId,\n    post_url: post.url || '',\n    post_type: post.type || '',\n    caption: esc(post.caption),\n    caption_raw: post.caption || '',\n    display_url: post.displayUrl || '',\n    image_urls_pg: toPgArray(post.images || []),\n    hashtags_pg: toPgArray(post.hashtags || []),\n    posted_at: post.timestamp || null,\n    updated_at: new Date().toISOString()\n  });\n}\n\nif (groupBuyingPosts.length === 0) {\n  return [{ json: { _skip: true } }];\n}\n\nreturn groupBuyingPosts.map(p => ({ json: p }));"
      },
      "id": "b1000001-0007-4000-8000-000000000007",
      "name": "Post Processor",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": ""
          },
          "conditions": [
            {
              "id": "condition-skip",
              "leftValue": "={{ $json._skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "b1000001-0008-4000-8000-000000000008",
      "name": "IF - Has Posts",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1750,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO posts (id, influencer_id, post_url, post_type, caption, display_url, image_urls, hashtags, group_buying_start, group_buying_end, product_name, group_buying_url, posted_at, updated_at)\nVALUES (\n  '{{ $json.id }}',\n  '{{ $json.influencer_id }}',\n  '{{ $json.post_url }}',\n  '{{ $json.post_type }}',\n  '{{ $json.caption }}',\n  '{{ $json.display_url }}',\n  '{{ $json.image_urls_pg }}',\n  '{{ $json.hashtags_pg }}',\n  {{ $json.group_buying_start ? \"'\" + $json.group_buying_start + \"'\" : 'NULL' }},\n  {{ $json.group_buying_end ? \"'\" + $json.group_buying_end + \"'\" : 'NULL' }},\n  {{ $json.product_name ? \"'\" + $json.product_name + \"'\" : 'NULL' }},\n  {{ $json.group_buying_url ? \"'\" + $json.group_buying_url + \"'\" : 'NULL' }},\n  {{ $json.posted_at ? \"'\" + $json.posted_at + \"'\" : 'NULL' }},\n  '{{ $json.updated_at }}'\n)\nON CONFLICT (id) DO UPDATE SET\n  post_url = EXCLUDED.post_url,\n  post_type = EXCLUDED.post_type,\n  caption = EXCLUDED.caption,\n  display_url = EXCLUDED.display_url,\n  image_urls = EXCLUDED.image_urls,\n  hashtags = EXCLUDED.hashtags,\n  group_buying_start = EXCLUDED.group_buying_start,\n  group_buying_end = EXCLUDED.group_buying_end,\n  product_name = EXCLUDED.product_name,\n  group_buying_url = EXCLUDED.group_buying_url,\n  posted_at = EXCLUDED.posted_at,\n  updated_at = EXCLUDED.updated_at;",
        "options": {}
      },
      "id": "b1000001-0009-4000-8000-000000000009",
      "name": "Postgres - Posts Upsert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2750,
        -150
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "TRUNCATE TABLE influencer_suggestions;",
        "options": {}
      },
      "id": "b1000001-0010-4000-8000-000000000010",
      "name": "Postgres - Truncate Suggestions",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        750,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst year = new Date().getFullYear();\n\nreturn items.map(item => {\n  const caption = item.json.caption_raw || '';\n\n  const body = {\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 1024,\n    messages: [{\n      role: 'user',\n      content: [\n        '다음 인스타그램 공동구매 게시글 캡션에서 아래 4가지 정보를 추출하여 JSON으로 반환해주세요.',\n        '',\n        '[캡션]',\n        caption,\n        '',\n        '[추출 항목]',\n        '1. group_buying_start: 공구 시작 날짜 (ISO 8601 형식, 예: ' + year + '-02-13T00:00:00Z). 연도 미명시 시 ' + year + '년 가정.',\n        '2. group_buying_end: 공구 종료 날짜 (ISO 8601 형식). 연도 미명시 시 ' + year + '년 가정.',\n        '3. product_name: 공동구매 상품명 (여러 개이면 쉼표로 구분).',\n        '4. group_buying_url: 공동구매 링크 URL.',\n        '',\n        '찾을 수 없는 항목은 null로 설정하세요. 반드시 JSON만 반환하세요. 다른 설명 없이 JSON 객체만 출력하세요.'\n      ].join('\\n')\n    }]\n  };\n\n  return {\n    json: {\n      ...item.json,\n      _claudeBody: JSON.stringify(body)\n    }\n  };\n});"
      },
      "id": "b1000001-0011-4000-8000-000000000011",
      "name": "Prepare Claude Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -150
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._claudeBody }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "b1000001-0012-4000-8000-000000000012",
      "name": "Claude API - Extract Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2250,
        -150
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst originalItems = $('Prepare Claude Request').all();\n\nfunction esc(val) {\n  if (val === null || val === undefined) return null;\n  return String(val).replace(/'/g, \"''\");\n}\n\nconst results = [];\nfor (let i = 0; i < items.length; i++) {\n  const claudeResponse = items[i].json;\n  const original = originalItems[i].json;\n\n  let extracted = {\n    group_buying_start: null,\n    group_buying_end: null,\n    product_name: null,\n    group_buying_url: null\n  };\n\n  try {\n    const text = (claudeResponse.content && claudeResponse.content[0] && claudeResponse.content[0].text) || '';\n    const jsonMatch = text.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      const parsed = JSON.parse(jsonMatch[0]);\n      extracted.group_buying_start = parsed.group_buying_start || null;\n      extracted.group_buying_end = parsed.group_buying_end || null;\n      extracted.product_name = parsed.product_name || null;\n      extracted.group_buying_url = parsed.group_buying_url || null;\n    }\n  } catch (e) {\n    // Claude 응답 파싱 실패 시 null 유지\n  }\n\n  results.push({\n    json: {\n      id: original.id,\n      influencer_id: original.influencer_id,\n      post_url: original.post_url,\n      post_type: original.post_type,\n      caption: original.caption,\n      display_url: original.display_url,\n      image_urls_pg: original.image_urls_pg,\n      hashtags_pg: original.hashtags_pg,\n      group_buying_start: extracted.group_buying_start,\n      group_buying_end: extracted.group_buying_end,\n      product_name: esc(extracted.product_name),\n      group_buying_url: extracted.group_buying_url,\n      posted_at: original.posted_at,\n      updated_at: original.updated_at\n    }\n  });\n}\n\nreturn results;"
      },
      "id": "b1000001-0013-4000-8000-000000000013",
      "name": "Merge Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2500,
        -150
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Supabase - Get Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Suggestions": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Postgres - Truncate Suggestions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request - Apify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Apify": {
      "main": [
        [
          {
            "node": "Profile Mapper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Mapper": {
      "main": [
        [
          {
            "node": "Postgres - Influencers Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Influencers Upsert": {
      "main": [
        [
          {
            "node": "Post Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Processor": {
      "main": [
        [
          {
            "node": "IF - Has Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Has Posts": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Claude Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Claude Request": {
      "main": [
        [
          {
            "node": "Claude API - Extract Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API - Extract Info": {
      "main": [
        [
          {
            "node": "Merge Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Claude Response": {
      "main": [
        [
          {
            "node": "Postgres - Posts Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres - Posts Upsert": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "versionId": "",
  "tags": []
}